.button {
  flex-shrink: 0;
  padding: 12px 16px;
  background-color: var(--color-button-bg);
  color: var(--color-button-text);
  border: none;
  border-radius: var(--border-radius);
  font-weight: bold;
  cursor: pointer;
  max-height: 48px;
}
